# 1. Import Libraries

In [1]:
# Import libraries 
import pandas as pd 
import numpy as np
import os

# 2. Import Data

In [2]:
# Importing order_products_prior.csv data frame
df_ords_prior = pd.read_csv(r'/Users/jacobyount/Documents/Data Analytics/Immersion 4/02.23.2023 Instacart Basket Analysis/2. Data/Raw Data/order_products__prior.csv', index_col = False)

In [4]:
df_ords_prior.shape

(32434489, 4)

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [13]:
# Importing orders.csv data frame
df_ords = pd.read_csv(r'/Users/jacobyount/Documents/Data Analytics/Immersion 4/02.23.2023 Instacart Basket Analysis/2. Data/Prepared Data/orders checked.csv', index_col = 0)

In [10]:
df_ords.shape

(3421083, 7)

In [14]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [15]:
df_merged_large.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.114836,196,1,0,both
1,2539329,1,1,2,8,11.114836,14084,2,0,both
2,2539329,1,1,2,8,11.114836,12427,3,0,both
3,2539329,1,1,2,8,11.114836,26088,4,0,both
4,2539329,1,1,2,8,11.114836,26405,5,0,both

In [16]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [17]:
df_merged_large.to_pickle(r'/Users/jacobyount/Documents/Data Analytics/Immersion 4/02.23.2023 Instacart Basket Analysis/2. Data/Prepared Data/order_products_combined.pkl')