# Import Libraries

In [3]:
# Import libraries 
import pandas as pd 
import numpy as np
import os

# Data Import

In [5]:
path = r'/Users/jacobyount/Documents/Data Analytics/Immersion 4/02.23.2023 Instacart Basket Analysis'

In [6]:
ords_prods_merged = pd.read_pickle(os.path.join(path, '2. Data', 'Prepared Data', 'ords_prods_new_variables.pkl'))

In [7]:
# Clean up error from previous exercise

del ords_prods_merged['top_2_busiest_and_slowest_days ']

In [8]:
del ords_prods_merged['_merge']

In [9]:
ords_prods_merged.head(1)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest_Day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,Mid Range Product,Regularly Busy Day,Regularly Busy Day,Average Orders

# 2. Aggregated Mean of Data Set

In [10]:
# finding the aggregated mean of orders pe rdepartment

ords_prods_merged.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# 3.

In [ ]:
# Completing this on the enitre set gives us all the departments order average. The totals from the subset have changed due to additional information added in this aggregation. Some have increased their averages and others have decreased. Common when adding addtional numbers to your average.

# 4. Loyalty Flags for Data Set

In [11]:
# Creating a 'Max Order' Column

ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [12]:
ords_prods_merged['max_order'].head(15)

0     10
1     10
2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    22
11    22
12    22
13    22
14    22
Name: max_order, dtype: int64

In [13]:
# Creating Loyalty Flag for loyal customers

ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'loyal_customer'

In [14]:
# Creating Loyalty Flag for regular customers

ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'regular_customer'

In [15]:
# Creating Loyalty Flag for new customers

ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'new_customer'

In [16]:
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

regular_customer    15876776
loyal_customer      10284093
new_customer         6243990
Name: loyalty_flag, dtype: int64

# 5.

In [17]:
ords_prods_merged.groupby('loyalty_flag').agg({'prices':['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
loyal_customer    10.386336  1.0  99999.0
new_customer      13.294670  1.0  99999.0
regular_customer  12.495717  1.0  99999.0

In [22]:
# This shows that loyal customers tend to spend less on average on products than the new customers and regular customers. New customers are the ones who spend the most per order on average.

# 6.

In [18]:
# spliting data into groups by user_id. Using Transform to find average price.

ords_prods_merged['avg_prices'] = ords_prods_merged.groupby('user_id')['prices'].transform(np.mean)

In [19]:
# Creating Spending Flag for low_spenders

ords_prods_merged.loc[ords_prods_merged['avg_prices'] < 10, 'spending_flag'] = 'low spender'

In [20]:
# Creating Spending Flag for high_spenders

ords_prods_merged.loc[ords_prods_merged['avg_prices'] >= 10, 'spending_flag'] = 'high_spender'

In [21]:
ords_prods_merged['spending_flag'].value_counts(dropna = False)

low spender     31770614
high_spender      634245
Name: spending_flag, dtype: int64

In [22]:
ords_prods_merged[['loyalty_flag','spending_flag']].head(5)

   loyalty_flag spending_flag
0  new_customer   low spender
1  new_customer   low spender
2  new_customer   low spender
3  new_customer   low spender
4  new_customer   low spender

# 7.

In [23]:
# spliting the data into groups by user_id. Using trasnform on days_since_prior_order to find medain order frequency

ords_prods_merged['median_freq'] = ords_prods_merged.groupby('user_id')['days_since_prior_order'].transform(np.median)

In [24]:
# creating a order frequency flag for non frequent customers

ords_prods_merged.loc[ords_prods_merged['median_freq'] > 20, 'order_frequency_flag'] = 'non_frequent_customer'

In [25]:
# creating a order frequency flag for regular customers

ords_prods_merged.loc[(ords_prods_merged['median_freq'] >10) & (ords_prods_merged['median_freq'] <=20), 'order_frequency_flag'] = 'regular_customer'

In [26]:
# creating a order frequency flag for frequent customers

ords_prods_merged.loc[ords_prods_merged['median_freq'] <= 10, 'order_frequency_flag'] = 'frequent_customer'

In [27]:
ords_prods_merged[['order_frequency_flag','median_freq']].head(3)

  order_frequency_flag  median_freq
0     regular_customer         20.0
1     regular_customer         20.0
2     regular_customer         20.0

In [28]:
# checking frequency of frequency flag

ords_prods_merged['order_frequency_flag'].value_counts(dropna = False)

frequent_customer        20535136
regular_customer          9168905
non_frequent_customer     2700818
Name: order_frequency_flag, dtype: int64

In [29]:
#checking all columns

ords_prods_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,Busiest_Day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_prices,spending_flag,median_freq,order_frequency_flag
0,2539329,1,1,2,8,11.114836,196,1,0,Soda,...,Mid Range Product,Regularly Busy Day,Regularly Busy Day,Average Orders,10,new_customer,6.367797,low spender,20.0,regular_customer
1,2398795,1,2,3,7,15.000000,196,1,1,Soda,...,Mid Range Product,Regularly Busy Day,Slowest Days,Average Orders,10,new_customer,6.367797,low spender,20.0,regular_customer
2,473747,1,3,3,12,21.000000,196,1,1,Soda,...,Mid Range Product,Regularly Busy Day,Slowest Days,Most Orders,10,new_customer,6.367797,low spender,20.0,regular_customer
3,2254736,1,4,4,7,29.000000,196,1,1,Soda,...,Mid Range Product,Least Busy Day,Slowest Days,Average Orders,10,new_customer,6.367797,low spender,20.0,regular_customer
4,431534,1,5,4,15,28.000000,196,1,1,Soda,...,Mid Range Product,Least Busy Day,Slowest Days,Most Orders,10,new_customer,6.367797,low spender,20.0,regular_customer

In [31]:
ords_prods_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,Busiest_Day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_prices,spending_flag,median_freq,order_frequency_flag
0,2539329,1,1,2,8,11.114836,196,1,0,Soda,...,Mid Range Product,Regularly Busy Day,Regularly Busy Day,Average Orders,10,new_customer,6.367797,low spender,20.0,regular_customer
1,2398795,1,2,3,7,15.000000,196,1,1,Soda,...,Mid Range Product,Regularly Busy Day,Slowest Days,Average Orders,10,new_customer,6.367797,low spender,20.0,regular_customer
2,473747,1,3,3,12,21.000000,196,1,1,Soda,...,Mid Range Product,Regularly Busy Day,Slowest Days,Most Orders,10,new_customer,6.367797,low spender,20.0,regular_customer
3,2254736,1,4,4,7,29.000000,196,1,1,Soda,...,Mid Range Product,Least Busy Day,Slowest Days,Average Orders,10,new_customer,6.367797,low spender,20.0,regular_customer
4,431534,1,5,4,15,28.000000,196,1,1,Soda,...,Mid Range Product,Least Busy Day,Slowest Days,Most Orders,10,new_customer,6.367797,low spender,20.0,regular_customer

In [33]:
# Marking outliers as NaN from 4.9 scatterplot 

ords_prods_merged.loc[ords_prods_merged['prices'] > 100] = np.nan

In [34]:
ords_prods_merged['prices'].max()

25.0

In [35]:
# exporting pickle file to prepared data folder

ords_prods_merged.to_pickle(os.path.join(path, '2. Data','Prepared Data','ords_prods_merged_agg_var.pkl'))