# Task 4.10 Part 1

### Import Libraries

In [1]:
# Import libraries 
import pandas as pd 
import numpy as np
import os

#Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

###  Data Import

In [2]:
# creating a path 

path = r'/Users/jacobyount/Documents/Data Analytics/Immersion 4/02.23.2023 Instacart Basket Analysis'

In [9]:
df = pd.read_pickle(os.path.join(path, '2. Data', 'Prepared Data', 'combined_data.pkl'))

### 2. Security Concerns

There are no PII data concerns in this data set. Previously there were two columns Surname and First Name, but were removed as they didnt provide any insight.

### 3. Creating a Regional Column
##### Checking to see if there is a spending difference in each region.

In [15]:
df['state'].value_counts().sort_index()

Alabama                 637863
Alaska                  648451
Arizona                 653864
Arkansas                636070
California              659695
Colorado                639173
Connecticut             622940
Delaware                636906
District of Columbia    613598
Florida                 628964
Georgia                 656249
Hawaii                  632786
Idaho                   607036
Illinois                632928
Indiana                 627185
Iowa                    625429
Kansas                  637418
Kentucky                632389
Louisiana               637414
Maine                   638479
Maryland                626402
Massachusetts           646275
Michigan                630816
Minnesota               647738
Mississippi             632575
Missouri                640576
Montana                 635181
Nebraska                625736
Nevada                  636034
New Hampshire           615259
New Jersey              627599
New Mexico              654400
New York                635912
North Carolina          651790
North Dakota            638391
Ohio                    628218
Oklahoma                651661
Oregon                  636332
Pennsylvania            667007
Rhode Island            656777
South Carolina          636677
South Dakota            633649
Tennessee               617783
Texas                   640285
Utah                    611814
Vermont                 611644
Virginia                641280
Washington              632722
West Virginia           612190
Wisconsin               627981
Wyoming                 644191
Name: state, dtype: int64

In [16]:
# Defining Regions

Region1_northeast = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']
Region2_midwest = ['Wisconsin', 'North Dakota', 'South Dakota', 'Illinios', 'Indiana', 'Ohio', 'Michigan', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
Region3_south = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Alabama', 'Mississippi', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']
Region4_west = ['Idaho', 'Washington', 'Oregon', 'Colorado', 'California', 'Arizona', 'New Mexico', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Alaska', 'Hawaii']

In [23]:
# Assigning regions to corresponding "region" column.

df.loc[df['state'].isin(Region1_northeast), 'region'] = 'Northeast'
df.loc[df['state'].isin(Region2_midwest), 'region'] = 'Midwest'
df.loc[df['state'].isin(Region3_south), 'region'] = 'South'
df.loc[df['state'].isin(Region4_west), 'region'] = 'West'

In [25]:
df['region'].value_counts().sort_index()

Midwest       6963137
Northeast     5721892
South        10790096
West          8291679
Name: region, dtype: int64

In [34]:
# Creating a Crosstab for spending_flag and region to check if there is a noticable spending patern in each region.

crosstab = pd.crosstab(df['region'], df['spending_flag'], dropna = False)

In [35]:
crosstab

spending_flag  high_spender  low spender
region
Midwest              144541      6818596
Northeast            107381      5614511
South                207902     10582194
West                 159120      8132559

The cross tab shows that most customers in all four regions fall into your low spender category. There doesn't appear to be any major changes by region. The south region contains a larger customer base, but its spending flag is proportional to that of the other two regions.

### 4. Creating a Exclusion Flag

In [44]:
df.loc[df['max_order'] < 5, ('exclusion_flag')] = 'low_activity'
df.loc[df['max_order'] >= 5, ('exclusion_flag')] = 'high_activity'

In [48]:
df['exclusion_flag'].value_counts(dropna = False)

high_activity    30959687
low_activity      1440045
NaN                  5127
Name: exclusion_flag, dtype: int64

In [52]:
# creating to seperate data frames for low and high activity customers

df_low_activity = df.loc[df['exclusion_flag'] == 'low_activity']

In [53]:
df_high_activity = df.loc[df['exclusion_flag'] == 'high_activity']

In [55]:
#checking new data frames

df_low_activity.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,order_frequency_flag,Gender,state,Age,date_joined,num_dependants,fam_status,income,region,exclusion_flag
1510,520620.0,120.0,1.0,3.0,11.0,11.114836,196.0,2.0,0.0,Soda,...,regular_customer,Female,Kentucky,54.0,3/2/2017,2.0,married,99219.0,South,low_activity
1511,3273029.0,120.0,3.0,2.0,8.0,19.000000,196.0,2.0,1.0,Soda,...,regular_customer,Female,Kentucky,54.0,3/2/2017,2.0,married,99219.0,South,low_activity
1512,520620.0,120.0,1.0,3.0,11.0,11.114836,46149.0,1.0,0.0,Zero Calorie Cola,...,regular_customer,Female,Kentucky,54.0,3/2/2017,2.0,married,99219.0,South,low_activity
1513,3273029.0,120.0,3.0,2.0,8.0,19.000000,46149.0,1.0,1.0,Zero Calorie Cola,...,regular_customer,Female,Kentucky,54.0,3/2/2017,2.0,married,99219.0,South,low_activity
1514,520620.0,120.0,1.0,3.0,11.0,11.114836,26348.0,3.0,0.0,Mixed Fruit Fruit Snacks,...,regular_customer,Female,Kentucky,54.0,3/2/2017,2.0,married,99219.0,South,low_activity

In [57]:
df_low_activity.shape

(1440045, 32)

In [58]:
df_high_activity.shape

(30959687, 32)

#### Exporting two new data frames High Activity and Low Activity

In [60]:
df_low_activity.to_pickle(os.path.join(path, '2. Data','Prepared Data', 'low_activity_customers.pkl'))

In [62]:
df_high_activity.to_pickle(os.path.join(path, '2. Data', 'Prepared Data', 'high_activity_customers.pkl'))